.controlsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Позволяем элементам переходить на следующую строку */
}

.betContainer {
  display: flex;
  align-items: center;
  justify-content: center; /* Центрируем содержимое */
  margin: 0.5em;
  padding: 1em;
  width: calc(100% - 2em); /* Уменьшаем ширину для малых экранов */
  max-width: 600px; /* Устанавливаем максимальную ширину для больших экранов */
  background: black;
  border: 5px solid white;
  border-radius: 15px;
  box-shadow: 0px 1px 10px rgb(0, 0, 0);
}

.placeBet {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.placeBetText {
  width: 30%; /* Увеличиваем ширину текста для более мелких экранов */
  height: 60px;
  background: black;
  border: 5px solid white;
  border-radius: 15px;
  box-shadow: 0px 1px 10px rgb(0, 0, 0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.chipsContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 1em 0 1em;
}

.input {
  width: 100%; /* Задаем ширину 100% */
  margin: 0 0 0 0.5em;
  font-size: 200%;
  text-align: right;
  margin: 5px;
  padding: 0;
  border: 0;
  outline: 0;
  background: black;
  color: white;
}

.inputError {
  width: 100%; /* Задаем ширину 100% */
  margin: 0 0 0 0.5em;
  font-size: 200%;
  text-align: right;
  margin: 5px;
  padding: 0;
  border: 0;
  outline: 0;
  background: black;
  color: red;
}

.input::-webkit-inner-spin-button, 
.inputError::-webkit-inner-spin-button {
  -webkit-appearance: none; 
  margin: 0; 
}

.button {
  color: white;
  font-weight: bold;
  margin: 0 0.5em;
  padding: 1em;
  width: calc(80% - 2em); /* Уменьшаем ширину для малых экранов */
  background: black;
  outline: none;
  border: 5px solid white;
  border-radius: 15px;
  box-shadow: 0px 1px 10px rgb(0, 0, 0);
  text-align: center;
  cursor: pointer;
  font-size: 20px;
}

.chipButton {
  width: 80px; /* Уменьшаем размер кнопок чипов для малых экранов */
  height: 80px;
  background-color: #ffcc00;
  border: 5px solid black;
  border-radius: 50%;
  color: black;
  font-size: 20px; /* Уменьшаем размер шрифта для малых экранов */
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease; /* Smooth transitions */
}

.chipButton:hover {
  transform: scale(1.1); /* Scale on hover */
  background-color: #ffd700; /* Change color on hover */
}

@media (hover: hover) {
  .button:hover {
    color: black;
    background: white;
    border: 5px solid black;
  }
}

.button:disabled {
  color: gray;
  background: rgb(60, 60, 60);
  border: 5px solid gray;
}

@media screen and (max-width: 992px) {
  .betContainer {
    width: 80%; /* Увеличиваем ширину контейнера для мобильных устройств */
  }

  .placeBetText {
    width: 40%; /* Меняем ширину текста для мобильных устройств */
    font-size: 20px; /* Уменьшаем размер шрифта для мобильных устройств */
  }
}

@media screen and (max-width: 600px) {
  .betContainer {
    width: 90%; /* Увеличиваем ширину контейнера для маленьких экранов */
  }
  
  .betContainer h4 {
    font-size: 75%;        
  }
  
  .betContainer input {
    font-size: 125%;        
  }

  .button {
    font-size: 16px; /* Уменьшаем размер шрифта для кнопок на маленьких экранах */
    width: 100%; /* Кнопки занимают всю ширину контейнера */
  }

  .chipButton {
    width: 60px; /* Дополнительно уменьшаем размер кнопок чипов для маленьких экранов */
    height: 60px;
    font-size: 18px; /* Уменьшаем размер шрифта для кнопок чипов */
  }
}

@media screen and (max-width: 450px) {
  .betContainer {
    width: 90%; /* Увеличиваем ширину контейнера для маленьких экранов */
  }
  
  .betContainer h4 {
    font-size: 75%;        
  }
  
  .betContainer input {
    font-size: 125%;        
  }

  .button {
    font-size: 16px; /* Уменьшаем размер шрифта для кнопок на маленьких экранах */
    width: 100%; /* Кнопки занимают всю ширину контейнера */
  }

  .chipButton {
    width: 50px; /* Дополнительно уменьшаем размер кнопок чипов для маленьких экранов */
    height: 50px;
    font-size: 18px; /* Уменьшаем размер шрифта для кнопок чипов */
  }
}

